<form class="form-horizontal">
  <fieldset>
    <legend><span class="fa fa-lg fa-user-plus" aria-hidden="true">&nbsp;</span>Registrarse</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-3 control-label">Usuario</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name= 'username' placeholder="Usuario">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-3 control-label">Correo Electrónico</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name= 'email' placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-3 control-label">Contraseña</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" name='password' placeholder="Contraseña">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword2" class="col-sm-3 control-label">Contraseña</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" name='password2' placeholder="Escriba de nuevo la Contraseña">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-6">
        <button type="submit" class="btn btn-primary pull-right">Enviar</button>
        <div class=" pull-right">&nbsp;&nbsp;</div>
        <button type="reset" class="btn btn-default pull-right">Cancelar</button>
      </div>
    </div>
  </fieldset>
</form>